<section class="site-registration">
    <div class="container">
        <div class="center">
            <div class="registration">
                <input type="checkbox" id="chk" aria-hidden="true">

                <div class="signup">
                    <form [formGroup]="createForm" (ngSubmit)="createPlace()">
                        <label for="chk" aria-hidden="true">Create a new place</label>
                        <input formControlName="place" type="text" name="txt" placeholder="Place">
                        <div class="error" *ngIf="createForm.controls.place.invalid && createForm.controls.place.touched">Writting a place is required</div>

                        <input formControlName="description" type="text" name="description" placeholder="Description">
                        <div class="error" *ngIf="createForm.controls.description.invalid && createForm.controls.description.touched">Writing a description is required</div>

                        <input formControlName="imgUrl" type="text" name="imgUrl" placeholder="Image Url">
                        <div class="error" *ngIf="createForm.controls.imgUrl.invalid && createForm.controls.imgUrl.touched">Writing an Urlimage is required</div>
                        
                        
                        <button>Create</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

