.container-about{
    display: flex;
    background-color: #86acac;
justify-content: center;
align-items: center;
    max-width: 90vw;
    margin: 2em;
    border-radius: 1em;
}
img {
    float: left;
}

.img-with-text {
    flex: 0 0 40%;
    padding: 0.5em;
    border: 0.1em solid black;
    margin: 0.5em;
}

img {
    display: block;
    width: 100%;
    min-height: 15em;
    margin-bottom: 1em;
}

.about-information{
    
    flex: 1 0 auto;;
    
    gap: 1em;
    text-indent: 2em;
    width: 90%;
}