<div class="container-about">
    <div class="img-with-text">
        <img src="https://images.unsplash.com/photo-1511361610358-2717c2dbcb1b?q=80&w=1633&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            alt="">
    </div>
    <div class="about-information">
        <h1>About this website</h1>
        <p>Plan your next travel and visit Bulgaria. Discover Bulgaria's rich history, stunning landscapes, and vibrant
            culture. Start your journey today!</p>
        <p> Here you can discover new interesting places in Bulgariq and share your favorite one. </p>
        <p> Like, share, DISCOVER, this is the place for your new memmories! </p>

    </div>
</div>