<section class="footer">
    <div class="container">
        <div class="items">
            <div class="logo">
                <i class="fa-solid fa-earth-europe"></i>
            </div>

            <div class="logos">
                <i (click)="goToInstagram()" class="fa-brands fa-instagram"></i>
                <i (click)="goToFacebook()" class="fa-brands fa-square-facebook"></i>
                <i (click)="goToYouTube()" class="fa-brands fa-youtube"></i>
            </div>

        </div>
    </div>
</section>