<section class="navigation">
    <div class="container">
        <div class="navigation-bar">
            <div class="logo">
                <i routerLink="" class="fa-solid fa-earth-europe"></i>
            </div>
            <div class="navigation-menu">
                <ul>
                    <li><a routerLink="" class="nav-button block">Home</a></li>
                    <li *ngIf="isAuth"><a routerLink="/gallery" class="nav-button block">Places</a></li>
                    <li *ngIf="!isAuth"><a routerLink="/login" class="nav-button block">Login</a></li>
                    <li *ngIf="!isAuth"><a routerLink="/register" class="nav-button block">Registration</a></li>
                    <li *ngIf="isAuth"><a (click)="logout()" routerLink="/logout" class="nav-button block">Logout</a></li>
                    <li *ngIf="isAuth"><a routerLink="/profile" class="nav-button block">Profile</a></li>
                    <li *ngIf="isAuth"><a routerLink="/about" class="nav-button block">About</a></li>
                    <li *ngIf="!isAuth"><a routerLink="/contact" class="nav-button block">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
