<h3>Contact From Anywhere you are!</h3>

<div class="container">
    <form [formGroup]="contactForm" (ngSubmit)="postContact()">
        <label for="fname">Email</label>
        <input formControlName="email" type="text" id="fname" name="firstname" placeholder="Your email..">
        <div *ngIf="contactForm.controls.email.invalid && contactForm.controls.email.touched" class="error">It`s not correct email.</div>
        
        <label for="lname">Subject</label>
        <input formControlName="subject" type="text" id="lname" name="lastname" placeholder="Subject..">
        <div *ngIf="contactForm.controls.subject.invalid && contactForm.controls.subject.touched" class="error">Subject is require.</div>

        <label for="subject">Message</label>
        <textarea formControlName="message" id="subject" name="subject" placeholder="Write message.." style="height:200px"></textarea>
        <div *ngIf="contactForm.controls.message.invalid && contactForm.controls.message.touched" class="error">Message is require.</div>

        <input type="submit" value="Submit">
    </form>
</div>



<!-- <div class="container-fluid py-5">
    <div class="container py-5">
        <div class="text-center mb-3 pb-3">
            <h1>Contact From Anywhere you are!</h1>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="contact-form bg-white" style="padding: 30px;">
                    <div id="success"></div>
                    <form [formGroup]="contactForm" (ngSubmit)="postContact()" name="sentMessage" id="contactForm" novalidate="novalidate">
                        <div class="form-row">
                            <div class="control-group col-sm-6">
                                <input formControlName="email" class="form-control p-4" id="email" placeholder="Your Email"
                                    required="required"/>

                                    <div *ngIf="contactForm.controls.email.invalid && contactForm.controls.email.touched">It`s not correct email</div>
                                    
                            </div>
                        </div>

                        <div class="control-group">
                            <input formControlName="subject" type="text" class="form-control p-4" id="subject" placeholder="Subject"
                                required="required" />
                                <div *ngIf="contactForm.controls.subject.invalid && contactForm.controls.subject.touched">Subject is require!</div>
                        </div>

                        <div class="control-group">
                            <textarea formControlName="message" class="form-control py-3 px-4" rows="5" id="message" placeholder="Message"
                                required="required"></textarea>
                                <div *ngIf="contactForm.controls.message.invalid && contactForm.controls.message.touched">Message is require!</div>
                           
                        </div>
                        <div class="text-center">
                            <button class="btn btn-primary py-3 px-4" type="submit" id="sendMessageButton">Send Message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->