<section class="site-registration">
    <div class="container">
        <div class="center">
            <div class="registration">
                <input type="checkbox" id="chk" aria-hidden="true">

                <div class="signup">
                    <form (ngSubmit)="editPlace">
                        <label for="chk" aria-hidden="true">Edit place</label>
                        <input type="text" name="txt" [(ngModel)]="place.place">

                        <input type="text" name="description" [(ngModel)]="place.description">

                        <input type="text" name="imgUrl" [(ngModel)]="place.imgUrl">
                        
                        <button (click)="editPlace()" [routerLink]="['/places/', place._id]">Edit</button>
                        
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


