<section class="site-login">
    <div class="container">
        <div class="center">
            <div class="container-login">
                <input type="checkbox" id="chk" aria-hidden="true">

                <div class="signup">
                    <form [formGroup]="loginForm" (ngSubmit)="submit()">
                        <label for="chk" aria-hidden="true">Login</label>
                        <input formControlName="email" type="email" name="email" placeholder="Email" required="">
                  
                        
                        <div class="error" *ngIf="loginForm.controls.email.errors && loginForm.controls.email.touched">Should write correct email</div>
                       
                        <input  formControlName="password" type="password" name="pswd" placeholder="Password" required="">
                            <div class="error" *ngIf="loginForm.controls.password.errors?.required && loginForm.controls.password.touched">Should write password!</div>
                            
                        <button type="submit">Login</button>
                        <div class="not-a-member">Not a member <a routerLink="/register">Register</a></div>
                    </form>
                </div>


            </div>
        </div>
    </div>
</section>
